@using Model.Dao;
@using OnlineShop.Common;
@using OnlineShop.Models;
@model List<OnlineShop.Models.CartItem>
@{
    var cart = Session[CommonConstants.CartSession];
    var list = new List<CartItem>();
    if (cart != null)
    {
        list = (List<CartItem>)cart;
    }
    var total = 0;
    foreach (var item in list)
    {
        total += item.Quantity * (int)item.Product.Price.Value;
    }
}
<a href="/cart" class="cart" id="count_cart">CART IDR $@total </a>

