@model List<Model.EF.Menu>
@{
    var session = (UserLogin)Session[OnlineShop.Common.CommonConstants.USER_SESSION];
}
<div class="header">
    <div class="container">
        <!---->
        <div class="logo">
            <a href="/Home/Index"><img src="~/assets/clientV3/images/logo.png" alt=""></a>
        </div>
        <div class="header-right">
            <ul class="account">
                @*<li><a href="account.html">MY ACCOUNT</a> </li> |*@
                @if (session != null)
                {
                    <li><a href="/#"> Hello @session.Name|</a></li>
                    <li><a href="/User/Logout">LOGOUT |</a></li>
                }
                else
                {
                    <li><a href="/cart"> CHECKOUT |</a></li>
                    <li><a href="/dang-nhap">LOGIN |</a></li>
                    <li><a href="/dang-ky"> REGISTER </a></li>
                }
            </ul>
            <div class="header-bottom">
                <div class="top-nav">
                    <span class="menu"> </span>
                    <ul>
                        @foreach (var item in Model)
                        {
                            <li><a href="@item.Link" target="@item.Target">@item.Text</a></li>
                        }
                    </ul>
                    <!--script-->
                    <script>
                        $("span.menu").click(function () {
                            $(".top-nav ul").slideToggle(500, function () {
                            });
                        });
                    </script>
                </div>
                @{
                    Html.RenderAction("HeaderCart", "Home");
                }
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<script src="~/assets/client/js/controller/baseController.js"></script>